<div class="container-fluid">
  <h2> Registration From</h2>
  <form [formGroup]="registrationFrom"  (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Username</label>
      {{ getUsername().invalid }}
      {{ getUsername().touched }}
      <input

        [class.is-invalid]="getUsername().invalid
              && getUsername()" class="form-control" formControlName="userName"
        type="text">
      <!--      <small-->
      <!--        [class.d-none]="getUsername().untouched-->
      <!--        || getUsername().valid"-->
      <!--        class="text-danger">User name is required</small>-->
      <div *ngIf="getUsername().invalid
        && getUsername()?.touched">
        <small *ngIf="getUsername().errors?.['required']" class="text-danger"> Username is
          required</small>
        <small *ngIf="getUsername().errors?.['minlength']" class="text-danger">Username must be of least
          3 characters</small>
<!--        name should not be admin-->
        <small *ngIf="getUsername().errors?.['forbiddenName']" class="text-danger">{{getUsername().errors?.['forbiddenName'].value}} Username not allowed</small>
      </div>

      <div class="form-group">
        <label>Email</label>
        <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()"> Add e-mail</button>

        <input type="text" [class.is-invalid]="!email.untouched&& email.invalid" formControlName="email" class="form-control">

        <small class="text-danger" [class.d-none] = "email.valid||email.untouched" >Email is required</small>
        <div formArrayName="alternateEmails">
          <div  *ngFor="let email of alternateEmails.controls; let i=index">
              <input type = "text" class="form-control my-1" [formControlName]="i" >
          </div>
        </div>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" formControlName="subscribe" type="checkbox">
        <label class="form-check-label">
          Send me promotional offers
        </label>
      </div>




      <div class="form-group">
        <label>Password</label>
        <input class="form-control" formControlName="password" type="password">
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input [class.is-invalid]="registrationFrom.errors?.['mismatch']" class="form-control" formControlName="confirmPassword" type="password">
        <small class ="text-danger" *ngIf="registrationFrom.errors?.['mismatch']">Passwords do not match</small>
      </div>
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input class="form-control" formControlName="city" type="text">
      </div>

      <div class="form-group">
        <label>State</label>
        <input class="form-control" formControlName="state" type="text">
      </div>

      <div class="form-group">
        <label>Postal code</label>
        <input class="form-control" formControlName="postalCode" type="text">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
    <!--    <button (click)="loadAPIData()" class="btn btn-secondary ml-2" type="button">Load API Data</button>-->
  </form>

  <div class="col-md-6">
    <h2>Formatted JSON Dark</h2>
    <pre class="json-display p-3 border rounded">{{ registrationFrom.value | json }}</pre>
  </div>
</div>
